/* General Styles */
body {
    background-color: #959595;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

/* Navbar styles */
.navbar {
    background-color: #454545;
    border-bottom: 2px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 40px;
    margin-right: 10px;
}

.navbar .logo .app-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

/* Updated nav-links styles to align Home and Profile to the right */
.navbar .right-nav {
    display: flex;
    align-items: center;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.navbar .nav-links a:hover {
    background-color: #ddd;
    transition: 0.3s;
}
/* Ensure the content is properly padded below the navbar */
.content {
    padding: 20px;
}

.profile-container {
    position: relative;
}

.profile-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    color: #36454F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid #800020;
}

.profile-dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #696969;
    border-radius: 5px;
    overflow: hidden;
    width: 150px;
}

.profile-dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #696969;
    text-align: center;
}

.profile-dropdown a:hover {
    background-color: #555555;
}

/* Profile Content */
.profile-content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    max-width: 600px;
    justify-content: space-between; /* Make the image and details spread out */
}


/* Update button positioned at the top-left */
#update-btn {
    position: absolute;
    top: -30px;
    left: -100px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.update-form .form-group {
    margin-bottom: 20px;
}

.update-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.update-form input[type="text"],
.update-form input[type="email"],
.update-form input[type="password"],
.update-form input[type="file"] {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: 1px solid #444;
    border-radius: 4px;
}

.profile-image-preview {
    margin-top: 10px;
}

.update-btn:hover {
    background-color: #218838;
}